html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.header h1 {
    border: 2px solid red;
    padding: 10px;
}

.content {
    flex: 1;
    overflow: auto;
    padding: 20px;
    background-color: rgb(30, 30, 30);
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(100,100,100);
}

.list-item {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: rgb(80, 80, 80);
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.footer p {
    border: 2px solid red;
    padding: 5px;
}

.content .list .list-item .movie-item {
    position: relative;
    overflow: hidden;
}

.content .list .list-item .movie-item img {
    transition: transform 0.3s;
}

.content .list .list-item .movie-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 0.3s;
}

.content .list .list-item .movie-item:hover img {
    transform: scale(1.2);
}

.content .list .list-item .movie-item:hover::after {
    transform: scale(1.5);
}

.content .list .list-item .movie-item {
    color: white;
    text-align: center;
}
/* Media query pour les écrans de téléphone en mode portrait */
@media only screen and (max-width: 650px){
    .content .list .list-item {
        width: 100%;
    }
    .content .list .list-item .movie-item img {
        max-width: 30%;
        height: auto;
    }
}

/* Media query pour les écrans de téléphone en mode portrait */
@media only screen and (max-width: 650px){
    .content .list .list-item {
        width: 100%;
    }
    .content .list .list-item .movie-item img {
        max-width: 30%;
        height: auto;
    }
}


/* Media query pour les écrans de téléphone en mode paysage */
@media only screen and (min-width: 651px) and (max-width: 1000px) and (orientation: landscape) {
    .content .list .list-item {
        width: 40%;
    }
    .content .list .list-item:nth-child(2n+1){
        clear: both;
    }
    .content .list .list-item .movie-item img {
        max-width: 50%;
        height: auto;
    }
}