html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.header h1 {
    border: 2px solid red;
    padding: 10px;
}

.content {
    flex: 1;
    overflow: auto;
    padding: 20px;
    background-color: rgb(30, 30, 30);
    justify-content:center;
}

.footer {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.footer p {
    border: 2px solid red;
    padding: 10px;
}

.content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.content img.poster {
    width: 20%;
}

.content .principal_content {
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px black solid;
    background-color: rgb(100, 100, 100);
}

.content .principal_content .movie_info {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.content .principal_content .OriginalTitle,
.content .principal_content .Tagline,
.content .principal_content .resumer {
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(130, 130, 130);
}

.content .principal_content .firstLine {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 12%;
    background-color: rgb(130, 130, 130);
}

.content .principal_content .title {
    width: 70%;
    border: 2px black solid;
}

.content .principal_content .date {
    width: 30%;
    text-align: right;
    border: 2px black solid;
}

.content .principal_content .OriginalTitle {
    text-align: right;
}

.content .principal_content .Tagline {
    margin-bottom: 10px;
}

.content .principal_content .resumer {
    height: 25%;
}

.content .acteur {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

.content .acteur .image {
    width: 20%;
    position: relative;
}

.content .acteur .image img {
    transition: transform 0.3s;
}

.content .acteur .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 0.3s;
}

.content .acteur .image:hover img {
    transform: scale(1.2);
}

.content .acteur .image:hover::before {
    transform: scale(1.5);
}

.content .actor_info .role,
.content .actor_info .name {
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;
    flex-direction: column;
    background-color: rgb(130, 130, 130);
}

.content .acteur .actor_info {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}