html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.header h1 {
    border: 2px solid red;
    padding: 10px;
}

.content {
    flex: 1;
    overflow: auto;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    justify-content:center;
}

.footer {
    background-color: rgb(80, 80, 80);
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.footer p {
    border: 2px solid red;
    padding: 5px;
}

.content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.content .principal_content .actor img {
    width: 20%
}

.content .principal_content .actor {
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    border: 2px black solid;
    background-color: rgb(100, 100, 100);
}

.content .principal_content .actor .actor_info {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.content .principal_content .actor .actor_info .nom,
.content .principal_content .actor .actor_info .PlaceOfBirth,
.content .principal_content .actor .actor_info .bio{
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(130, 130, 130);
}

.content .principal_content .actor .actor_info .bio{
    height:auto;
}

.content .principal_content .actor .actor_info .date_actor {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.content .principal_content .actor .actor_info .date_actor .Birthday{
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    flex:1;
    background-color: rgb(130, 130, 130);
}

.content .principal_content .actor .actor_info .date_actor .Deathday{
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    text-align: end;
    flex:1;
    background-color: rgb(130, 130, 130);
}

.content .principal_content .actor .actor_info .nom,
.content .principal_content .actor .actor_info .PlaceOfBirth {
    text-align: center;
}

.content .principal_content .film {
    display: flex;
    flex-direction: row;
    width: auto;
}

.content .principal_content .film .movie_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: auto;
}

.content .principal_content .film .movie_info .ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content .principal_content .film .movie_info .ligne1 .titre {
    display: flex;
    width: 80%;
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(130, 130, 130);
    text-align: center;
}

.content .principal_content .film .movie_info .ligne1 .date {
    display: flex;
    width: auto;
    text-align: center;
    justify-content: center;
    border: 2px black solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(130, 130, 130);
}

.content .principal_content .film .movie_info .role {
    display: flex;
    border: 2px black solid;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(130, 130, 130);
}

@media only screen and (max-width: 650px) {
    .content .principal_content .actor img {
        width: 30%;
        height: auto;
        margin: 0 auto;
    }
    .content .principal_content .actor {
        flex-direction: column;
        width: auto;
        align-items: center; /* Ajout de cette ligne */
    }
    .content .principal_content .actor .actor_info {
        width: 80%;
        margin: 0;
        padding: 10%;
    }
    .content .principal_content .film {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
    .content .principal_content .film .poster_film {
        width: 30%;
        align-self: center; /* Ajout de cette ligne */
    }
    .content .principal_content .film .movie_info {
        width: auto; /* Modification de cette ligne */
        margin-top: 10px; /* Ajout de cette ligne */
        align-self: center; /* Ajout de cette ligne */
    }

}

/* Media query pour les écrans de téléphone en mode paysage */
@media only screen and (min-width: 651px) and (max-width: 1000px) and (orientation: landscape) {
    .content .principal_content .actor img {
        width: 50%;
    }
    .content .principal_content .film {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
    .content .principal_content .film .poster_film {
        width: 30%;
        align-self: center; /* Ajout de cette ligne */
    }
    .content .principal_content .film .movie_info {
        width: auto; /* Modification de cette ligne */
        margin-top: 10px; /* Ajout de cette ligne */
        align-self: center; /* Ajout de cette ligne */
    }
}

